In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('weather_2012.csv')

In [5]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [7]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [8]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
267,2012-01-12 03:00:00,-9.0,-14.7,63,33,25.0,101.02,Cloudy
6082,2012-09-10 10:00:00,14.4,6.5,59,15,24.1,101.32,Mostly Cloudy
7403,2012-11-04 11:00:00,3.3,-2.3,67,13,24.1,101.08,Cloudy
3731,2012-06-04 11:00:00,13.1,7.4,68,28,24.1,100.67,Cloudy
6775,2012-10-09 07:00:00,6.7,5.3,91,9,48.3,102.09,Mainly Clear

In [9]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [10]:
df1 = df.columns

In [11]:
df1

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [12]:
df = df.rename(columns={'Date/Time' : 'date_time', 'Temp (C)' : 'temp_c', 'Dew Point Temp (C)' : 'dew_point', 'Rel Hum (%)' : 'relative_humidity', 'Wind Spd (km/h)' : 'wind_speed', 'Visibility (km)' : 'visibility', 'Stn Press (kPa)' : 'pressure', 'Weather' : 'weather'})

In [13]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [14]:
df.count()

date_time            8784
temp_c               8784
dew_point            8784
relative_humidity    8784
wind_speed           8784
visibility           8784
pressure             8784
weather              8784
dtype: int64

In [15]:
df.mean()

temp_c                 8.798144
dew_point              2.555294
relative_humidity     67.431694
wind_speed            14.945469
visibility            27.664447
pressure             101.051623
dtype: float64

In [16]:
df.sum()

date_time            2012-01-01 00:00:002012-01-01 01:00:002012-01-...
temp_c                                                         77282.9
dew_point                                                      22445.7
relative_humidity                                               592320
wind_speed                                                      131281
visibility                                                    243004.5
pressure                                                     887637.46
weather              FogFogFreezing Drizzle,FogFreezing Drizzle,Fog...
dtype: object

In [17]:
df.min()

date_time            2012-01-01 00:00:00
temp_c                             -23.3
dew_point                          -28.5
relative_humidity                     18
wind_speed                             0
visibility                           0.2
pressure                           97.52
weather                            Clear
dtype: object

In [18]:
df.max()

date_time               2012-12-31 23:00:00
temp_c                                 33.0
dew_point                              24.4
relative_humidity                       100
wind_speed                               83
visibility                             48.3
pressure                             103.65
weather              Thunderstorms,Rain,Fog
dtype: object

In [19]:
df.median()

temp_c                 9.30
dew_point              3.30
relative_humidity     68.00
wind_speed            13.00
visibility            25.00
pressure             101.07
dtype: float64

In [23]:
fahr = (df.temp_c * (9/5)) + 32

In [31]:
df['temp_f'] = fahr

In [35]:
df = df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]

In [38]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [39]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [40]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [44]:
df['weather'].value_counts().head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [48]:
month = df.loc[(df.temp_f > 90) & (df.relative_humidity < 50) & (df.dew_point > 17) & (df.weather == 'Mainly Clear')]

In [50]:
df['month'] = pd.DatetimeIndex(df['date_time']).month

In [54]:
df.to_csv('weather_2012_new', index = False)